<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<bean id="compactDisc" class="soundsystem.SgtPeppers" >-->
        <!--<property name="name" value="Robin"/>-->
    <!--</bean>-->
    <!--<bean id="compactDisc" class="soundsystem.SgtPeppers" c:name="Chen"/>-->
    <!--<bean id="compactDisc" class="soundsystem.SgtPeppers" p:name="Chen1"/>-->
    <bean id="compactDisc" class="soundsystem.BlankDisc" c:name="Bd" c:type="test">
        <constructor-arg>
            <list>
                <value>Player 1</value>
                <value>Sing a song</value>
            </list>
        </constructor-arg>
    </bean>
    <!--<context:component-scan base-package="soundsystem" />-->
</beans>

